includes:
		- ./vendor/nunomaduro/larastan/extension.neon

parameters:
	level: 5
	paths:
		- app
	ignoreErrors:
		- 
			path: app/Http/Controllers/AuthController.php
			message: '#Call to an undefined method Laravel\\Sanctum\\Contracts\\HasAbilities::delete\(\)#'